main {
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    font-family: avenir;
}

article {
    display: block;
    font-size: 20px;
    text-align: left;
    max-width: 50%;
}

@media screen and (max-width: 1200px) {
    article {
        max-width: 65%;
    }
}
@media screen and (max-width: 768px) {
    article {
        max-width: 90%;
    }
}
@media screen and (max-width: 320px) {
    article {
        max-width: 100%;
    }
}