nav {
    padding-left: 400px;
    transition: padding-left 1s;
}

@media screen and (max-width: 1750px) {
    nav {
        padding-left: 200px;
    }
}

@media screen and (max-width: 1400px) {
    nav {
        padding-left: 10px;
    }
}

nav a {
    padding: 4px 5px; 
    text-transform: uppercase;
    color: rgba(17,17,17,.7);
    text-decoration: none;
    font-family: avenir;
    transition: color 0.37s;
}

nav a:hover {
    color: rgba(0,31,234,1);
}

header {
    display: flex;
    align-items: center;
}

#left-header {
    display: flex;
    flex: 1 1 0px;
}

#center-header {
    display: flex; 
    flex: 0 0 auto;
}

#right-header {
    display: flex; 
    flex: 1 1 0px;
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column-reverse;
    }

    #left-header {
        margin-bottom: 20px;
    }
}